@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

body {
  background-color: #363636;
}

i {
  margin-right: 10px;
  margin-left: 10px;
}

header {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  z-index: 10;
}

.main-header {
  background-color: #1a1a1a;
  position: sticky;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile {
  display: flex;
  align-items: center;
  padding: 10px;
}

.profile>p1 {
  color: aqua;
  padding: 5px;
}

.profile>p {
  color: aliceblue;
  font-family: "Bebas", sans-serif;
}

.main-header img {
  width: 180px;
  padding: 10px;
}

.logo {
  width: 100px;
  margin-top: 2px;
}

.searc-main {
  background-color: white;
  border-radius: 10px;
  align-items: center;
  width: 41vw;
}

.searc-main>input {
  border: none;
  width: 30vw;
  height: 2vw;
  outline: none;
}

.profile>img {
  width: 40px;
  border-radius: 15px;
}

p1>a {
  color: white;
}

.profile>a {
  color: white;
  font-size: 20px;
}

.container {
  display: flex;
}

.sub-title {
  color: rgb(255, 255, 255);
  font-family: "Staatliches", sans-serif;
  font-size: 1.2vw;
  padding: 10px;
}

#nav {
  background-color: #1a1a1a;
  width: 20%;
  height: 94vh;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
}

#nav ul {
  list-style: none;
}

#nav li {
  padding: 10px;
}

#nav a {
  text-decoration: none;
  color: rgb(105, 102, 102);
  font-family: "Staatliches", sans-serif;
}

#nav a:hover {
  color: rgb(227, 227, 228);
}

#nav>p {
  font-family: "Teko", sans-serif;
  font-size: 1.5vw;
  color: white;
  text-align: left;
}

.left-top-menu,
.left-bottom-menu {
  margin-top: 1vw;
  margin-bottom: 5vw;
}

#right-home {
  width: 100%;
  background-color: #363636;
  display: flex;
  flex-wrap: wrap;
}

.card-profile-sell {
  background-color: #352d2d;
  width: 100%;
  height: 320px;
  flex: 1 1 250px;
  box-shadow: 7px 5px 5px black;
  color: white;
  text-align: center;
  margin: 13px;
  border-radius: 5px;
}
.card-profile-sell img {
  width: 50px;
}

.card-profile-sell>p1 {
  font-family: "Bebas", sans-serif;
  color: aqua;
}

.card-profile-sell>p {
  margin: 5px;
  font-family: "Bebas", sans-serif;
}

.data-sell {
  font-family: "Bebas", sans-serif;
  display: flex;
  justify-content: center;
}

.card-profile-sell>h5 {
  padding: 10px;
}

.data-sell>p {
  font-family: "Bebas", sans-serif;
  display: flex;
  text-align: center;
  padding: 15px;
  font-size: 12px;
}

.card-button {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.card-button>button {
  padding: 5px;
  outline: none;
  border: none;
}

#rotate-view {
  color: orange;
  transform: rotate(45deg);
  position: absolute;
  font-size: 20px;
  top: 0;
  left: 4px;
  position: relative;
}

.fa-eye {
  position: absolute;
  left: -1px;
  font-size: 17px;
  top: 10px;
}

.button-view:hover> i {
  font-size: 21px;
  left: 5px;
}

.button-view:hover>#rotate-view {
  font-size: 25px;
  top: 0;
  left: 6px;
  color: rgb(5, 255, 26);
  width: 50px;
}
.button-view:hover {
  background-color: rgb(5, 255, 26);
  cursor: pointer;
  width: 50px;
}
.pedidos:hover {
  background-color: rgb(5, 255, 26);
  cursor: pointer;
}

.button-view {
  width: 35px;
  position: relative;
  background-color: orange;
  border-radius: 5px 0 0 5px;
}
.pedidos > button {
  display: flex;
  margin-left: 10px;
}
.pedidos {
  background-color: rgb(245, 242, 59);
  width: 180px;
  font-family: "Teko", sans-serif;
  font-size: 20px;
  border-radius: 0 5px 5px 0;
  text-align: center;
  top: 0;
}

.buttons-Service {
  background-color: rgb(81, 92, 174);
  opacity: 10px;
  color: white;
}

#button-mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  #button-mobile {
    display: block;
    border: none;
    outline: none;
    background-color: #1a1a1a;
    color: white;
  }

  #menu,
  #nav {
    display: none;
  }
  .card-profile-sell {
    max-width: 400px;
  }
  .profile>p,
  p1 {
    display: none;
  }

  .main-header .logo {
    width: 100px;
  }

  .main-header {
    width: 100%;
    display: flex;
  }

  #nav.active,
  #menu {
    border: none;
    outline: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(39, 39, 39);
    align-items: center;
  }

  #nav.active .sub-title {
    font-size: 30px;
    text-align: center;
  }

  #nav.active .card-profile-sell {
    display: none;
  }

  #right-home.active {
    display: none;
  }

  .searc-main {
    display: none;
  }
}